body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, maroon, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.welcome-section {
    max-width: 400px;
    color: white;
}

.welcome-section h1 {
    font-size: 40px;
}

.welcome-section p {
    font-size: 18px;
    margin: 20px 0;
}

.welcome-section button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: white;
    color: maroon;
    cursor: pointer;
    transition: 0.2s;
}

.welcome-section button:hover {
    transform: scale(1.05);
}

.register-section {
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.register-section input,
.register-section select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.register-btn {
    background: maroon;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.register-btn:hover {
    background: pink;
    color: maroon;
}

img {
    height: 330px;
    margin-right:20px;
    border-radius: 12px;
}